
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
header{
	
	height: 300px;
}
ul{
	list-style-type: NONE;
	


}


li{
	margin-top: 10px;
}
a{
	text-decoration: none;
}
nav{
	width: 21%;
	background-color: lightcoral;
	float: left;
	height: 1300px;
	border-radius: 10%;
}
main{
	width: 30%;
	float: right;
	height: 200px;
}


h2{
	text-align: center;
	background-color: #ccc2a6;
	margin: auto;
	width: 200px;
}
footer{
	height: 150px;
	clear: both;
}
section{
	height: 400px;
	width: 70%;
	border: double 5px rgba(147, 125, 125, 0.862);
	padding: 20px;
	margin: 20px;
	background-color: #ccc2a6;
	font-size: 2em;
    float: right;
	font-family: 'Didact Gothic', sans-serif;
}

   

.myButton {
	-moz-box-shadow:inset 0px -12px 10px -4px #29bbff;
	-webkit-box-shadow:inset 0px -12px 10px -4px #29bbff;
	box-shadow:inset 0px -12px 10px -4px #29bbff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2dabf9), color-stop(1, #2f76b5));
	background:-moz-linear-gradient(top, #2dabf9 5%, #2f76b5 100%);
	background:-webkit-linear-gradient(top, #2dabf9 5%, #2f76b5 100%);
	background:-o-linear-gradient(top, #2dabf9 5%, #2f76b5 100%);
	background:-ms-linear-gradient(top, #2dabf9 5%, #2f76b5 100%);
	background:linear-gradient(to bottom, #2dabf9 5%, #2f76b5 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2dabf9', endColorstr='#2f76b5',GradientType=0);
	background-color:#2dabf9;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:25px;
	font-weight:bold;
	padding:20px 76px;
	text-decoration:none;
	text-shadow:5px -4px 3px #263666;
	&:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2f76b5), color-stop(1, #2dabf9));
	background:-moz-linear-gradient(top, #2f76b5 5%, #2dabf9 100%);
	background:-webkit-linear-gradient(top, #2f76b5 5%, #2dabf9 100%);
	background:-o-linear-gradient(top, #2f76b5 5%, #2dabf9 100%);
	background:-ms-linear-gradient(top, #2f76b5 5%, #2dabf9 100%);
	background:linear-gradient(to bottom, #2f76b5 5%, #2dabf9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2f76b5', endColorstr='#2dabf9',GradientType=0);
	background-color:#2f76b5;
}
 &:active {
	position:relative;
	top:1px;
}
 }
 .button-49,
 .button-49:after {
   width: 150px;
   height: 76px;
   line-height: 78px;
   font-size: 20px;
   font-family: 'Bebas Neue', sans-serif;
   background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
   border: 0;
   color: #fff;
   letter-spacing: 3px;
   box-shadow: 6px 0px 0px #00E6F6;
   outline: transparent;
   position: relative;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
 }
 
 .button-49:after {
   --slice-0: inset(50% 50% 50% 50%);
   --slice-1: inset(80% -6px 0 0);
   --slice-2: inset(50% -6px 30% 0);
   --slice-3: inset(10% -6px 85% 0);
   --slice-4: inset(40% -6px 43% 0);
   --slice-5: inset(80% -6px 5% 0);
   
   content: 'ALTERNATE TEXT';
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
   text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
   clip-path: var(--slice-0);
 }
 
 .button-49:hover:after {
   animation: 1s glitch;
   animation-timing-function: steps(2, end);
 }
 
 @keyframes glitch {
   0% {
	 clip-path: var(--slice-1);
	 transform: translate(-20px, -10px);
   }
   10% {
	 clip-path: var(--slice-3);
	 transform: translate(10px, 10px);
   }
   20% {
	 clip-path: var(--slice-1);
	 transform: translate(-10px, 10px);
   }
   30% {
	 clip-path: var(--slice-3);
	 transform: translate(0px, 5px);
   }
   40% {
	 clip-path: var(--slice-2);
	 transform: translate(-5px, 0px);
   }
   50% {
	 clip-path: var(--slice-3);
	 transform: translate(5px, 0px);
   }
   60% {
	 clip-path: var(--slice-4);
	 transform: translate(5px, 10px);
   }
   70% {
	 clip-path: var(--slice-2);
	 transform: translate(-10px, 10px);
   }
   80% {
	 clip-path: var(--slice-5);
	 transform: translate(20px, -10px);
   }
   90% {
	 clip-path: var(--slice-1);
	 transform: translate(-10px, 0px);
   }
   100% {
	 clip-path: var(--slice-1);
	 transform: translate(0);
   }
 }
 
 @media (min-width: 768px) {
   .button-49,
   .button-49:after {
	 width: 200px;
	 height: 86px;
	 line-height: 88px;
   }
 }
 div{
   text-align: center;
   margin: O auto;
   
 }   
 .myButton1 {
	-moz-box-shadow:inset -3px -4px 0px 0px #1c1b18;
	-webkit-box-shadow:inset -3px -4px 0px 0px #1c1b18;
	box-shadow:inset -3px -4px 0px 0px #1c1b18;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #eae0c2), color-stop(1, #ccc2a6));
	background:-moz-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:-webkit-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:-o-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:-ms-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eae0c2', endColorstr='#ccc2a6',GradientType=0);
	background-color:#eae0c2;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	border-radius:15px;
	border:2px solid #333029;
	display:inline-block;
	cursor:pointer;
	color:#505739;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:20px 76px;
	text-decoration:none;
	text-shadow:2px -2px 2px #ffffff;
	&:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ccc2a6), color-stop(1, #eae0c2));
	background:-moz-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:-webkit-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:-o-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:-ms-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccc2a6', endColorstr='#eae0c2',GradientType=0);
	background-color:#ccc2a6;
}
 &:active {
	position:relative;
	top:1px;
}
 }
 

#bgVideo {
position: fixed;

width: auto;
min-width: 100%;
height: 480px;
min-height: 480px;
z-index: -100;    
background-size: cover;
}
.dvi{
	height: 480px ;
	width: 100%;
}
#myVideo {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: -100;
  }
  
  /* Add some content at the bottom of the video/page */
  .content {
	position: fixed;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	color: #f1f1f1;
	width: 100%;

  }
  
  /* Style the button used to pause/play the video */
  #myBtn {
	width: 200px;
	font-size: 18px;
	padding: 10px;
	border: none;
	background: #000;
	color: #fff;
	cursor: pointer;
  }
  
  #myBtn:hover {
	background: #ddd;
	color: black;
  }
  span{
	color: beige;
	font-weight: 2em;
  }
